footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    padding: 40px;
    background-color:#080805;
    color: white;
    border-top: 0.5px solid white;
   
}
.lanv{
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
    line-height: 40px;
}
.rights{
    text-align: center;
    background-color: #080805;
    color: white;
}
li:hover{
    color: red;
}